<div class="container">
	<div class="container" style="top: 60px; margin-top: 100px">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-sx-6">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-md-offset-3 animated fadeInDown">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x text-success"></i> <i
							class="fa fa fa-home fa-stack-1x fa-inverse"></i>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="clear col-md-3 col-sm-3 hidden-xs"></div>
				</div>

				<div class="row">
					<div class="col-md-3 col-sm-3 col-sx-3 animated fadeInLeft">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x text-primary"></i> <i
							class="fa fa fa-building fa-stack-1x fa-inverse"></i>
						</span>
					</div>
					
					<div class="col-md-3 col-md-offset-3 hidden-sm hidden-sx animated fadeInRight">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x text-danger"></i> <i
							class="fa fa fa-hospital-o fa-stack-1x fa-inverse"></i>
						</span>
					</div>

				</div>

				<div class="row">
					<div class="clear col-md-3 col-sm-3 hidden-xs"></div>
				</div>

				<div class="row">
					<div class="col-md-3 col-sm-3 col-sx-3 col-md-offset-3 animated fadeInUp">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x text-royal"></i> <i
							class="fa fa fa-university fa-stack-1x fa-inverse"></i>
						</span>
					</div>

				</div>

			</div>
			<div class="col-md-6 col-sm-6 col-sx-6">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-sx-12" style="min-height:180px"></div>
				</div>
				
				<div class="row">
					<div class=" col-md-12 col-sm-12 col-sx-12">
						<h1>One Stop for all you tiling solutions</h1>
					</div>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="row" style="min-height: 50px"></div>
	<div class="row" style="min-height: 50px"></div>
	
</div>