<div class="container">
	<div class="container" style="top: 60px; margin-top: 100px">

		<div class="col-md-4"></div>
		<div class="col-md-4">

			<form class="payment-form">
				<div class="form-group">
					<label>Enter Payee Mobile Number</label> <input type="text"
						class="form-control input-lg" placeholder="123456789">
				</div>
				<div class="form-group">
					<label>Enter Amount</label> <input type="text"
						class="form-control input-lg" placeholder="00.00">
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Pay</button>
				</div>
			</form>
		</div>
		<div class="col-md-4"></div>

		<div class="modal fade alert" id="squarespaceModal" tabindex="-1"
			role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">x</span><span class="sr-only">Close</span>
						</button> -->
						
					</div>
					<div class="modal-body">
						
						<span class="text text-primary"><center>Please wait..<br>Transaction is in progress</center></span>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>