<section class="section-products">

<div class="heading-contact text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="animated bounceInDown">
					<div class="section-heading">
						<h2>Our Range of Products</h2>
						<i class="fa fa-2x fa-angle-down"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>

<div class="container-fluid">
    
    <div class="row">
        <div class="image-block col-sm-4" style="background: url(./styles/images/city1.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>
        </div>
        <div class="image-block col-sm-8" style="background: url(./styles/images/city2.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(./styles/images/city3.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(./styles/images/city4.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(./styles/images/city5.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>
        </div>
        <div class="image-block col-sm-8" style="background: url(./styles/images/city6.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(./styles/images/city7.jpg) no-repeat center top;background-size:cover;">
            <p> Image Info </p>            
        </div>
    </div>
</div>

</section>