<div class="container">
	<div class="container" style="top: 60px; margin-top: 100px">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<form>
				<div class="form-group">
					<input type="text" class="form-control input-lg"
						placeholder="Mobile Number">
				</div>
				<div class="form-group">
					<input type="password" class="form-control input-lg"
						placeholder="Password">
				</div>
				
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Sign In</button>
					<!-- <span><a href="#">Need help?</a></span> <span class="pull-right"><a
						href="#signup">New Registration</a></span> -->
				</div>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

